<% include header.html %>

<section class="row-fluid" id='mainNav'>
    <nav>
        <ul>
            <li><a href="/financing">最新融资</a></li>
            <li><a href="/soso">搜搜</a></li>
            <li class='current-li'><a href="/activity">活动</a></li>
        </ul>
    </nav>
</section>

<header class="container-fluid">
	
	
    <section class="row-fluid">
		
		
		
    </section>
	
</header>


<footer class="container-fluid">
    <section class="row-fluid">

    </section>
</footer>

<% include footer.html %>