<% include header.html %>



<header class="container-fluid">
	
	
    <section class="row-fluid">
		
		<ul class="thumbnails">
			<li class="span4">
			<div class="thumbnail">
				<img src="" alt="">
				<p>collect</p>
			</div>
			</li>
			<li class="span4">
		    <div class="thumbnail">
				<img src="" alt="">
				<p>collect</p>
		    </div>
		  	</li>
			<li class="span4">
		    <div class="thumbnail">
				<img src="" alt="">
				<p>collect</p>
		    </div>
		  	</li>
		</ul>
		
    </section>
	
</header>


<footer class="container-fluid">
    <section class="row-fluid">

    </section>
</footer>

<% include footer.html %>