<% include header.html %>


<% if (result!='') { %>  

<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="/" class="brand">小脚丫</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="current">
									 <a href="/home">内容管理</a>
								</li>
								<li>
									 <a href="/admin">账号管理</a>
								</li>
								<li>
									 <a href="/paster">贴纸管理</a>
								</li>
								<li>
									 <a href="/soso">消息查询</a>
								</li>
								
							</ul>
							<ul class="nav pull-right">
								<li>
									 <a href="/logout">登出</a>
								</li>
								<li class="divider-vertical">
								</li>
								<li class="dropdown">
									 <a data-toggle="dropdown" class="dropdown-toggle" href="#" title="欢迎您 <%=username%> "><img style="height: 20px" height="20px" src="<%=info.avatar%>"><strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											<a href="/home"><%=username%> 的设置</a>
										</li>
										<li>
											 <a href="#">其他</a>
										</li>
										
										<li class="divider">
										</li>
										<li>

										<% if(info.level==8){%>
										<a>管理员选项</a>
										<% } else{%>
										<a>用户您好 <%=info.level%></a>
										<% } %>
											
										</li>
									</ul>
								</li>

							</ul>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>

	
	



	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-25490">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-1" data-toggle="tab" >全部</a>
					</li>
					<li>
						 <a href="#panel-2" data-toggle="tab" class="good" data-sta='hot'>热门推荐</a>
					</li>
					<li>
						 <a href="#panel-3" data-toggle="tab" class="sta" data-sta='del'>动态回收站</a>
					</li>
					<li>
						 <a href="#panel-4" data-toggle="tab" class="comment_sta" data-sta='commentd'>评论回收站</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-1">
						<div class="row-fluid">
							
							<div class="span3">
								类型:
								<select class="span8 mark">
									<option selected value="all">全部</option>
									<option value="p1">单图</option>
									<option value="mp">多图</option>
							        <option value="tp">图文</option>
								</select>
							</div>
							<div class="span3">
								发表时间
								<select class="span8 time">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							<div class="span3">
								排序:
								<select class="span8 order">
							        <option selected value="time">按时间</option>
							        <option value="up">按获赞数</option>
							        <option value="read">按阅读量</option>
							        <option value="comment">按回复数</option>

							    </select>
							</div>
							<div class="span3">
								<a class="btn btn-success showMessage">查看消息</a>
							</div>
							
						</div>

						<hr>


						<!-- messages -->

						<!-- <div class="accordion" id="accordion-A">
							<div class="accordion-group">
								<div class="accordion-heading">
									 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-A" href="#accordion-head-a1">选项卡 #1</a>
								</div>
								<div id="accordion-head-a1" class="accordion-body collapse">
									<div class="accordion-inner">
										功能块...
									</div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-A" href="#accordion-head-a2">选项卡 #2</a>
								</div>
								<div id="accordion-head-a2" class="accordion-body collapse">
									<div class="accordion-inner">
										功能块...
									</div>
								</div>
							</div>
						</div> -->



						<!--  -->

						<div class="row-fluid messageList">
				            <ul class="thumbnails">

				              
				              加载中……
				            </ul>
				        </div>
						<!--  -->




					</div>
					<div class="tab-pane" id="panel-2">
						<div class="row-fluid">
							
							<div class="span3">
								类型:
								<select class="span8 mark_good">
									<option selected value="all">全部</option>
									<option value="p1">单图</option>
									<option value="mp">多图</option>
							        <option value="tp">图文</option>
								</select>
							</div>
							<div class="span3">
								发表时间
								<select class="span8 time_good">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							<div class="span3">
								排序:
								<select class="span8 order_good">
							        <option selected value="time">按时间</option>
							        <option value="up">按获赞数</option>
							        <option value="read">按阅读量</option>
							        <option value="comment">按回复数</option>

							    </select>
							</div>
							<div class="span3">
								<a class="btn btn-success msgHot">看推荐的消息</a>
							</div>
						</div>

						<!--  -->
						<hr>

						

						<div class="row-fluid msgHotList">
				            <ul class="thumbnails">

				              
				              推荐的 loading
				            </ul>
				        </div>




	

						<!--  -->
					</div>
					<div class="tab-pane" id="panel-3">

						<div class="row-fluid">
							
							<div class="span3">
								类型:
								<select class="span8 mark_delete">
									<option selected value="all">全部</option>
									<option value="p1">单图</option>
									<option value="mp">多图</option>
							        <option value="tp">图文</option>
								</select>
							</div>
							<div class="span3">
								发表时间
								<select class="span8 time_delete">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							<div class="span3">
								排序:
								<select class="span8 order_delete">
							        <option selected value="time">按时间</option>
							        <option value="up">按获赞数</option>
							        <option value="read">按阅读量</option>
							        <option value="comment">按回复数</option>

							    </select>
							</div>
							<div class="span3">
								<a class="btn btn-success msgDelete">已删消息</a>
							</div>
						</div>
						<hr>

						<div class="row-fluid msgDeleteList">
				            <ul class="thumbnails">

				              
				              删除的 loading
				            </ul>
				        </div>



					
					</div>
					<div class="tab-pane" id="panel-4">

						<div class="row-fluid">
							
							
							<div class="span3">
								发表时间
								<select class="span8 time_del_com">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							
							<div class="span3">
								<a class="btn btn-success commentDelShow">已删评论</a>
							</div>
						</div>
						<hr>

						<div class="row-fluid commentDeleteList">
				            <ul class="thumbnails">

				              
				              评论回收站 loading
				            </ul>
				        </div>

					</div>
				</div>
			</div>
			

			<!-- <div class="accordion" id="accordion-B">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-B" href="#accordion-head-b1">选项卡 #1</a>
					</div>
					<div id="accordion-head-b1" class="accordion-body collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-B" href="#accordion-head-b2">选项卡 #2</a>
					</div>
					<div id="accordion-head-b2" class="accordion-body collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
			</div> -->

			<!-- <a id="modal-554326" href="#modal-container-554326" role="button" class="btn" data-toggle="modal">正在开发</a> -->
			
			<!-- <div id="modal-container-554326" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						标题栏
					</h3>
				</div>
				<div class="modal-body">
					<p>
						显示信息
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存设置</button>
				</div>
			</div> -->
			<!-- modal -->

			<!-- Button to trigger modal -->
			<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">查看演示案例</a> -->
			 
			<!-- Modal -->
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			    <h3 id="myModalLabel">标题栏</h3>
			  </div>
			  <div class="modal-body">
			    <p>显示信息</p>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			    <button class="btn btn-primary confirm">确定保存</button>
			  </div>
			</div>



		</div>
	</div>
</div>



	
	
    

	<% } else{%>
    <section>
	<div class="well">
		<p>登录失败……</p>
		<a class='btn btn-primary' href="/">重新登陆</a>
	</div>
    </section>
    <%}%>


<% include footer.html %>
<script>
window.onload=function(){

	seajs.config({
	base: '/javascripts',
	alias: {
		'boots-jquery':'assets/boots-jquery',
		//'jquery': 'jquery/jquery/1.10.1/jquery',
		//'bootstrap':'bootstrap/bootstrap/2.3.2/bootstrap',
        //"zepto":  "jquery/zepto/1.1.6/zepto",
        "all": "share/all/2.0.0/all",
        'verify':'share/verify/1.0.0/verify',
        //'e_zetpo':'share/extend/1.0.0/extendzepto',
	  }
	})
	
    seajs.use(['boots-jquery', 'all', 'verify'], function($,A,V){
    	var $ = jQuery;

    	//console.log(V);
		
    	var mark = $('.mark'),
    		time = $('.time'),
    		order = $('.order'),
    		messageList = $('.messageList');

    	// 找到 消息数量 .messageList>ul>li
		var messageLi = messageList.children('ul').children('li'),
			mesLength = messageLi.length;

		//评论回收站
		$('#tabs-25490').on('click', '.comment_sta,.commentDelShow', function(event){
			event.preventDefault();
			$('.commentDeleteList').children('ul').html(A.textTips['load']);
			//渲染 回收站的评论
			A.ajax('/mcomment', {
				time : A.elm('time_del_com').val(),
				msg  : 'del',

			}, '#tabs-25490', function(dataList){

				if (dataList.data.length>0) {
					var comd = dataList.data.list,
					    dlength = comd.length,
					    commentStr = '';

					for (var i = 0; i < dlength; i++) {

						commentStr += '<li class="commentHTML" data-commentid="'+comd[i].id+'" data-userid="'+comd[i].user_id+'" data-useridb="'+comd[i].user_id_b+'" class="commentUser sex_'+A.sex[comd[i].sex]+' read_'+comd[i].is_read+'">  <a title="">'+comd[i].nickname+'<img class="avatar" src="/Uploads/Picture/'+comd[i].avatar+'" ></a>: '+comd[i].message+' <span>发表于'+A.js_date_time(comd[i].ctime)+'</span> <i class="btn btn-warning okComment"> 恢复评论</i>  <i class="btn "> 完全删除</i></li>';
					};

					//console.log(dataList);
					$('.commentDeleteList').children('ul').html(commentStr);
				}else{

					$('.commentDeleteList').children('ul').html(A.textTips['nothing']);

				}

			})


		}).
		on('click', '.good,.msgHot', function(event) {
			event.preventDefault();
			//推荐的消息 展示
			var msgHotList = $('.msgHotList');
    		msgHotList.children('ul').html(A.textTips['load']);

    		A.ajax('/message', {
    			time 	: A.elm('time_good').val(),
	    		sta 	: 'good',
	    		order 	: A.elm('order_good').val(),
	    		mark 	: A.elm('mark_good').val(),
	    	}, '#tabs-25490', function (dataList) {
	    		if (dataList.data.length>0) {
	    			//渲染热门推荐的 动态
	    			A.showMessage(dataList, '.msgHotList', function(){

	    				msgHotList.find('.up').html('赞：不显示');
		    			msgHotList.find('.comment').html('评论：不显示');


		    		})
	    		}else{
	    			msgHotList.children('ul').html(A.textTips['nothing']);
	    		}
	    	})
		}).
		on('click', '.goodmsg', function(event) {
			event.preventDefault();
			//推荐 ，数值越大越靠前， 默认 0:不推荐
			var parentDom = $(this).closest('.thumbnail').parent('li'),
				thisDom = $(this);

			$('#myModal').modal('show');
			// bootstrap V2版本 不支持 Modal 回调！！！！
			$('#myModalLabel').text('热门推荐');
			$('.modal-body').children('p').html('<p>'+A.textTips['confirm']+'<p/><p>'+A.textTips['confirm_msg_good']+'</p><p>请输入推荐的数值：<input class="confirmVal" type="text" value="" placeholder="0" /></p>');

			$('.confirm').on('click', function(){

				var confirmValue = $('.confirmVal').val();
				if (V.isDigit(confirmValue)) {

					$('#myModal').modal('hide');

					A.ajax('/goodMessage', {
						id : parentDom.data('msgid'),
						value : confirmValue,
					},'#tabs-25490', function(dataList){
						console.log(dataList);
						if (dataList.code=='2000') {
							
							thisDom.html('推荐 '+confirmValue);
						};
						//console.log(id);
					})


				}else{
					alert('请输入数字');
				}
			})





			/*if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.thumbnail').parent('li'),
					thisDom = $(this);
				A.ajax('/goodMessage', {
					id : parentDom.data('msgid'),
					value : 3,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						
						thisDom.html('推荐 '+'3');
					};
					//console.log(id);
				})

			}*/



		});

    	//已被删除 message delete
    	$('#tabs-25490').on('click', '.sta,.msgDelete', function(event) {
    		event.preventDefault();
    		var msgDeleteList = $('.msgDeleteList');
    		msgDeleteList.children('ul').html(A.textTips['load']);

    		/*if ($(this).data('sta')=='del') {

    		};*/


    		A.ajax('/message', {
    			time 	: A.elm('time_delete').val(),
	    		sta 	: 'del',
	    		order 	: A.elm('order_delete').val(),
	    		mark 	: A.elm('mark_delete').val(),
	    	}, '#tabs-25490', function (dataList) {

	    		if (dataList.data.length>0) {

	    			//渲染回收站的 动态
	    			A.showMessage(dataList, '.msgDeleteList', function(){

		    			msgDeleteList.find('.up').html('赞：不显示');
		    			msgDeleteList.find('.comment').html('评论：不显示');

		    			msgDeleteList.find('.order').html('<a class="btn btn-warning defaultMessage">还原状态 </a> <a class="btn btn-inverse">完全删除 </a>')
		    		})

	    		}else{

	    			msgDeleteList.children('ul').html(A.textTips['nothing']);

	    		}
	    	})
    		/* Act on the event */
    	}).
    	on('click', '.recycleMessage', function(event) {
    		event.preventDefault();
    		//消息放入回收站
			if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.thumbnail').parent('li'),
					thisDom = $(this);
				A.ajax('/recycleMessage', {
					id : parentDom.data('msgid'),
					value : 2,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.attr({
							class: 'span5 status_2',
						});
						thisDom.attr({
							class: 'btn btn-warning defaultMessage',
						}).html('还原状态');
					};
					//console.log(id);
				})

			}

    	}).
    	on('click', '.defaultMessage', function(event) {
    		event.preventDefault();
    		//消息还原显示
    		if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.thumbnail').parent('li'),
					thisDom = $(this);
				A.ajax('/recycleMessage', {
					id : parentDom.data('msgid'),
					value : 1,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.attr({
							class: 'span5 status_1',
						});
						thisDom.attr({
							class: 'btn btn-danger recycleMessage',
						}).html('动态放回收站');
					};
					//console.log(id);
				})

			}

    	}).
    	on('click', '.reComment', function(event) {
    		event.preventDefault();
    		//设置 评论状态 setComment 放回收站
    		if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.commentHTML'),
					thisDom = $(this);
				A.ajax('/setComment', {
					id : parentDom.data('commentid'),
					value : 0,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.addClass('recomment');
						thisDom.attr({
							class: 'btn btn-warning okComment',
						}).html('恢复评论');
					};
					//console.log(id);
				})

			}

    	}).
    	on('click', '.okComment', function(event) {
    		event.preventDefault();
    		//设置 评论状态 恢复评论
    		if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.commentHTML'),
					thisDom = $(this);
				A.ajax('/setComment', {
					id : parentDom.data('commentid'),
					value : 1,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.removeClass('recomment');
						thisDom.attr({
							class: 'btn reComment',
						}).html('放回收站');
					};
					//console.log(id);
				})

			}
    	});

    	// 开始查询 动态 待优化
    	$('.showMessage').on('click', function () {
    		messageAjax ('#tabs-25490');
    	})


    	


    	//默认获取的动态消息
    	function messageAjax (elm) {
    		messageList.children('ul').html(A.textTips['load']);
    		//载入消息
    		A.ajax('/message', {
	    		time 	: time.val(),
	    		sta 	: 'show',
	    		order 	: order.val(),
	    		mark 	: mark.val(),
	    	}, elm, function (dataList) {

	    		if (dataList.data.length=='0'){
	    			messageList.children('ul').html(A.textTips['nothing'])
	    		}else{

	    			//渲染 消息
		    		A.showMessage(dataList, '.messageList', function(){
		    			//载入 赞
		    			A.ajax('/mup', {
		    				time 	: time.val(),
		    			}, elm, function(data){
		    				//console.log(data);
		    				var u = data.data.list,
		    					uLength = data.data.length;

		    				messageList.find('.up').children('p').html('赞：');

		    				for (var i = 0; i < uLength; i++) {
		    					var msg_id = u[i].msg_id,
		    					    user_id = u[i].user_id,
		    					    ctime = u[i].ctime,
		    					    nickname = u[i].nickname,
		    					    sex = u[i].sex,
		    					    avatar = u[i].avatar;

		    					var upStr = ' <a href="#" class="upUser sex_'+sex+'" data-uid="'+user_id+'" title="'+nickname+'('+A.sex[sex]+')发表于'+A.js_date_time(ctime)+'"> <img src="/Uploads/Picture/'+avatar+'" height="25px" alt="" /> </a> ';
		    					$('li[data-msgid="'+msg_id+'"]').find('.up').children('p').append(upStr);
		    				};

		    				//载入 回复
		    				A.ajax('/mcomment', {
		    					time 	: time.val(),
		    					msg 	: 'ready',
		    				}, elm, function(mm){
		    					//console.log(mm);
		    					//渲染 评论
		    					A.showComment(mm, function(){

		    					})

		    				});

		    			})
		    		});

	    		}
	    		
	    	})
    	}
    	messageAjax ('#tabs-25490');

    	
    	

    })
    
}


</script>
