<% include header.html %>


<% if (result!='') { %>  

<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<% include nav.html %>
		</div>
	</div>

	
	



	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-25490">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-1" data-toggle="tab" >全部</a>
					</li>
					<li>
						 <a href="#panel-2" data-toggle="tab" class="good" data-sta='hot'>热门推荐</a>
					</li>
					<li>
						 <a href="#panel-5" data-toggle="tab" class="goodtype" data-sta='set'>推荐分类设置</a>
					</li>
					<li>
						 <a href="#panel-3" data-toggle="tab" class="sta" data-sta='del'>动态回收站</a>
					</li>
					<li>
						 <a href="#panel-4" data-toggle="tab" class="comment_sta" data-sta='commentd'>评论回收站</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-1">
						<div class="row-fluid">
							
							<div class="span3">
								类型:
								<select class="span8 mark">
									<option selected value="all">全部</option>
									<option value="p1">单图</option>
									<option value="mp">多图</option>
							        <option value="tp">图文</option>
								</select>
							</div>
							<div class="span3">
								发表时间
								<select class="span8 time">
									<option value="d3">三天内</option>
							        <option value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option selected value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							<div class="span3">
								排序:
								<select class="span8 order">
							        <option selected value="time">按时间</option>
							        <option value="up">按获赞数</option>
							        <option value="read">按阅读量</option>
							        <option value="comment">按回复数</option>

							    </select>
							</div>
							<div class="span3">
								<a class="btn btn-success showMessage">查看消息</a>
							</div>
							
						</div>

						
						
						<hr>
						<!--  -->

						<div class="row-fluid messageList">
				            <ul class="thumbnails">

				              
				              加载中……
				            </ul>
				        </div>
				        <hr>
						<!--  -->

						<div class="row-fluid setpage none">
							
							<p class="pageinfo span6"></p>
							<p class="span6"><input type="text" value="1" ><a class="btn defaultPage">查看</a></p>
							
						</div>
						




					</div>
					<div class="tab-pane" id="panel-2">
						<div class="row-fluid">
							
							<div class="span2">
								类型
								<select class="span8 mark_good">
									<option selected value="all">全部</option>
									<option value="p1">单图</option>
									<option value="mp">多图</option>
							        <option value="tp">图文</option>
								</select>
							</div>
							<div class="span2">
								时间
								<select class="span8 time_good">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							<div class="span2">
								排序
								<select class="span8 order_good">
							        <option selected value="time">按时间</option>
							        <option value="up">按获赞数</option>
							        <option value="read">按阅读量</option>
							        <option value="comment">按回复数</option>

							    </select>
							</div>
							<div class="span2">
								推荐
								<select data-sta="select" class="span8 goodMessageType">
									<option selected value="all">推荐</option>
								</select>
							</div>
							<div class="span3">
								<a class="btn btn-success msgHot">看推荐的消息</a>
							</div>
						</div>
						

						<!--  -->
						<hr>
						<div class="row-fluid msgHotList">
				            <ul class="thumbnails">

				              
				              推荐的 loading
				            </ul>
				        </div>
				        <hr>
						<!--  -->

						<div class="row-fluid setpage none">
							
							<p class="pageinfo span6"></p>
							<p class="span6"><input type="text" value="1" ><a class="btn goog_Page">查看</a></p>
							
						</div>

						<!--  -->
					</div>
					<div class="tab-pane" id="panel-3">

						<div class="row-fluid">
							
							<div class="span3">
								类型:
								<select class="span8 mark_delete">
									<option selected value="all">全部</option>
									<option value="p1">单图</option>
									<option value="mp">多图</option>
							        <option value="tp">图文</option>
								</select>
							</div>
							<div class="span3">
								发表时间
								<select class="span8 time_delete">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							<div class="span3">
								排序:
								<select class="span8 order_delete">
							        <option selected value="time">按时间</option>
							        <option value="up">按获赞数</option>
							        <option value="read">按阅读量</option>
							        <option value="comment">按回复数</option>

							    </select>
							</div>
							<div class="span3">
								<a class="btn btn-success msgDelete">已删消息</a>
							</div>
						</div>

						<hr>
						<!--  -->

						<div class="row-fluid setpage none">
							
							<p class="pageinfo span6"></p>
							<p class="span6"><input type="text" value="1" ><a class="btn delete_Page">查看</a></p>
							
						</div>
						<hr>

						<div class="row-fluid msgDeleteList">
				            <ul class="thumbnails">

				              
				              删除的 loading
				            </ul>
				        </div>



					
					</div>
					<div class="tab-pane" id="panel-4">

						<div class="row-fluid">
							
							
							<div class="span3">
								发表时间
								<select class="span8 time_del_com">
									<option value="d3">三天内</option>
							        <option selected value="w1">一周内</option>
							        <option value="w2">俩周内</option>
							        <option value="m1">一个月</option>
							        <option value="m2">俩个月</option>
							        <option value="m6">半年内</option>

							    </select>
							</div>
							
							<div class="span3">
								<a class="btn btn-success commentDelShow">已删评论</a>
							</div>
						</div>
						<hr>

						<div class="row-fluid commentDeleteList">
				            <ul class="thumbnails">

				              
				              评论回收站 loading
				            </ul>
				        </div>

					</div>
					<div class="tab-pane" id="panel-5">
						<div class="row-fluid">

							<p>分类名称： <input type="text" value="" placeholder="请输入名称" class="feedtype_name">；分类数值：<input type="text" value="" placeholder="请输入数字" class="feedtype_value"> <a class="btn createfeedtype">这样新增</a></p>

							<ul class="showfeedtype">载入中……</ul>
						</div>
					</div>
				</div>
			</div>
			
			 
			<!-- Modal -->
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			    <h3 id="myModalLabel">标题栏</h3>
			  </div>
			  <div class="modal-body" data-type="">
			    <p>显示信息</p>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			    <button class="btn btn-primary confirm">确定保存</button>
			  </div>
			</div>



		</div>
	</div>
</div>



	
	
    

	<% } else{%>
    <section>
	<div class="well">
		<p>登录失败……</p>
		<a class='btn btn-primary' href="/">重新登陆</a>
	</div>
    </section>
    <%}%>


<% include footer.html %>
<script>
window.onload=function(){

	seajs.config({
	base: '/javascripts',
	alias: {
		//'boots-jquery':'assets/boots-jquery',
		//'jquery': 'jquery/jquery/1.10.1/jquery',
		//'bootstrap':'bootstrap/bootstrap/2.3.2/bootstrap',
        //"zepto":  "jquery/zepto/1.1.6/zepto",
        "all": "share/all/2.0.0/all",
        'verify':'share/verify/1.0.0/verify',
        //'e_zetpo':'share/extend/1.0.0/extendzepto',
	  }
	})
	
    seajs.use(['all', 'verify'], function(A,V){
    	//var $ = jQuery;

    	//console.log(V);
		
    	var mark = $('.mark'),
    		time = $('.time'),
    		order = $('.order'),
    		messageList = $('.messageList');

    	// 找到 消息数量 .messageList>ul>li
		var messageLi = messageList.children('ul').children('li'),
			mesLength = messageLi.length;

		//评论回收站
		$('#tabs-25490').on('click', '.comment_sta,.commentDelShow', function(event){
			event.preventDefault();
			$('.commentDeleteList').children('ul').html(A.textTips['load']);
			//渲染 回收站的评论
			A.ajax('/mcomment', {
				time : A.elm('time_del_com').val(),
				msg  : 'del',

			}, '#tabs-25490', function(dataList){

				if (dataList.data.length>0) {
					var comd = dataList.data.list,
					    dlength = comd.length,
					    commentStr = '';

					for (var i = 0; i < dlength; i++) {

						commentStr += '<li class="commentHTML" data-commentid="'+comd[i].id+'" data-userid="'+comd[i].user_id+'" data-useridb="'+comd[i].user_id_b+'" class="commentUser sex_'+A.sex[comd[i].sex]+' read_'+comd[i].is_read+'">  <a title="">'+comd[i].nickname+'<img class="avatar" src="http://m.xiaojiaoyar.com/Uploads/Picture/'+comd[i].avatar+'" ></a>: '+comd[i].message+' <span>发表于'+A.js_date_time(comd[i].ctime)+'</span> <i class="btn btn-warning okComment"> 恢复评论</i> </li>';
						// <i class="btn "> 完全删除</i>
					};

					//console.log(dataList);
					$('.commentDeleteList').children('ul').html(commentStr);
				}else{

					$('.commentDeleteList').children('ul').html(A.textTips['nothing']);

				}

			})


		}).
		on('click', '.good,.msgHot,.goog_Page', function(event) {
			event.preventDefault();
			//推荐的消息 展示
			var msgHotList = $('.msgHotList');
    		msgHotList.children('ul').html(A.textTips['load']);

    		if (A.elm('goodMessageType').val()=='all') {
    			var dataArr = {
	    			time 	: A.elm('time_good').val(),
		    		sta 	: 'good',
		    		order 	: A.elm('order_good').val(),
		    		mark 	: A.elm('mark_good').val(),
		    		size 	: '10',
		    		p 		: $('.goog_Page').siblings('input').val(),
		    		feed 	: 'all'
		    	}
    		}else{
    			var dataArr = {
	    			time 	: A.elm('time_good').val(),
		    		sta 	: 'good',
		    		order 	: A.elm('order_good').val(),
		    		mark 	: A.elm('mark_good').val(),
		    		size 	: '10',
		    		p 		: $('.goog_Page').siblings('input').val(),
		    		feed 	: 'type',
		    		value 	: A.elm('goodMessageType').val(),
		    	}

    		}

    		A.ajax('/message', dataArr, '#tabs-25490', function (dataList) {
	    		if (dataList.data.length>0) {
	    			//渲染 热门推荐 的 动态
	    			A.showMessage(dataList, '.msgHotList', function(){

	    				/*msgHotList.find('.up').html('赞：不显示');
		    			msgHotList.find('.comment').html('评论：不显示');*/
		    			//显示删除的操作者，时间
		    			msgHotList.find('.thumbnail').children('h4').find('i').show();

		    			//载入 赞
		    			A.ajax('/mup', {
		    				time 	: time.val(),
		    			}, '.msgHotList', function(data){
		    				//console.log(data);
		    				var u = data.data.list,
		    					uLength = data.data.length;

		    				msgHotList.find('.up').children('p').html(A.innerHtml['up']);

		    				for (var i = 0; i < uLength; i++) {
		    					var msg_id = u[i].msg_id,
		    					    user_id = u[i].user_id,
		    					    ctime = u[i].ctime,
		    					    nickname = u[i].nickname,
		    					    sex = u[i].sex,
		    					    avatar = u[i].avatar;

		    					var upStr = ' <a href="#" class="upUser sex_'+sex+'" data-uid="'+user_id+'" title="'+nickname+'('+A.sex[sex]+')发表于'+A.js_date_time(ctime)+'"> <img src="http://m.xiaojiaoyar.com/Uploads/Picture/'+avatar+'" height="25px" alt="" /> </a> ';
		    					$('li[data-msgid="'+msg_id+'"]').find('.up').children('p').append(upStr);
		    				};

		    				//载入 回复
		    				A.ajax('/mcomment', {
		    					time 	: time.val(),
		    					msg 	: 'ready',
		    				}, '.msgHotList', function(mm){
		    					//console.log(mm);
		    					msgHotList.find('.comment').children('p').html(A.innerHtml['comment']);

		    					//渲染 评论
		    					A.showComment(mm, function(){

		    					})

		    				});

		    			})


		    		})
	    		}else{
	    			msgHotList.children('ul').html(A.textTips['nothing']);
	    		}

	    	})
		}).
		on('click', '.goodmsg', function(event) {
			event.preventDefault();
			// 
			var thisDom 		= $(this),
				feedtypeInput 	= thisDom.closest('.caption').siblings('.feedtypeInput'),
				thisText 		= thisDom.text(),
				thisFeedtype 	= thisDom.data('feedtype');

			if (feedtypeInput.find('li').length) {

				feedtypeInput.children('ul').toggleClass('none');

			}else{

				feedtypeInput.html('<ul>载入推荐分类中……</lu>');
				A.ajax('/showfeedtype', {}, '.feedtypeInput', function(dataList){

					var m = dataList.data,
	    				mlength = m.length,
	    				str= '';

	    			for (var i = 0; i < mlength; i++) {
	    				var id = m[i].id,
	    					name = m[i].name,
	    					type = m[i].type,
	    					classNew='';

	    				if (type==thisFeedtype) {
	    					classNew = 'black';
	    				};
	    				if (type!='0') {
	    					str+='<li data-id="'+id+'"> <a class="checkfeed" data-type="'+type+'"><i class="icon_e '+classNew+'"></i> '+name+'</a> </li>';
	    				}

	    			}

					feedtypeInput.html('<ul class="feed_type_wrap"></lu>');
					feedtypeInput.children('ul').append(str);

				})

			}

		}).
		on('click', '.cancel_good', function(event) {
			event.preventDefault();
			// 取消推荐
			var thisDom = $(this),
				msgid = thisDom.closest('li').data('msgid');
			if (confirm('仅取消置顶，分类不改变，确认吗？(如需要重新置顶，则重新设置分类即可)')) {
				A.ajax('/ordernull', {
					msgid : msgid,
				}, thisDom.closest('li'), function(dataList){
					if (dataList.data.protocol41) {
						thisDom.text('已取消置顶');
						thisDom.siblings('.goodmsg').text(thisDom.siblings('.goodmsg').text().split('(')[0]);
					};
				})
			};
		});


//设置推荐分类
			$('body').on('click', '.checkfeed', function(){

				var thisCheckBtn = $(this),
					typevalue = thisCheckBtn.data('type'),
					name = thisCheckBtn.text();
				var thisGoodmsg = thisCheckBtn.closest('.caption').siblings('.order').find('.goodmsg'),
					thisMsgID = thisCheckBtn.closest('.thumbnail').parent('li').data('msgid');
					
				thisCheckBtn.children('i').addClass('black');
				thisCheckBtn.closest('li').siblings('li').find('i').removeClass('black');
				thisGoodmsg.data('feedtype', typevalue);

				A.ajax('/goodMessage', {
					id : thisMsgID,
					value : typevalue,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.data.protocol41) {
						
						thisGoodmsg.html(name+'(已置顶)');
						thisCheckBtn.closest('ul').toggleClass('none');

						if (thisGoodmsg.siblings('.cancel_good').length) {
							thisGoodmsg.siblings('.cancel_good').text('取消推荐');
						}else{
							thisGoodmsg.closest('.order').append(A.innerHtml['cancel_good'])
						}
					};
					//console.log(id);
				})

			})
			
		/*.
		on('click', '.goodmsg', function(event) {
			event.preventDefault();
			//推荐 ，数值越大越靠前， 默认 0:不推荐
			var parentDom = $(this).closest('.thumbnail').parent('li'),
				thisDom = $(this);

			$('#myModal').modal('show');
			// bootstrap V2版本 不支持 Modal 回调！！！！
			$('#myModalLabel').text('热门推荐');

			// get  feedtype info

			A.ajax('/showfeedtype', {}, '#tabs-25490', function(dataList){

				var m = dataList.data,
    				mlength = m.length,
    				str= '';

    			for (var i = 0; i < mlength; i++) {
    				var id = m[i].id,
    					name = m[i].name,
    					type = m[i].type;
    				str+='<p data-id="'+id+'"> <a class="checkfeed" data-type="'+type+'"><i class="icon_e"></i> '+name+'</a> </p>';
    			};

    			$('.modal-body').children('p').html(str);
			})
			//设置推荐分类
			$('body').on('click', '.checkfeed', function(){

				var typevalue = $(this).data('type'),
					name = $(this).text();
				$(this).children('i').toggleClass('black');
				$(this).closest('p').siblings('p').find('i').removeClass('black');
				$(this).closest('.modal-body').data('type', typevalue);

				if ($('.modal-body').data('type')) {

					A.ajax('/goodMessage', {
						id : parentDom.data('msgid'),
						value : typevalue,
					},'#tabs-25490', function(dataList){
						console.log(dataList);
						if (dataList.data.protocol41) {
							
							thisDom.html(name+'(已置顶)');
						};
						//console.log(id);
					})

				};
			})

			$('.confirm').on('click', function(){

					$('#myModal').modal('hide');

					location.reload();

			})

		});*/

    	//已被删除 message delete
    	$('#tabs-25490').on('click', '.sta,.msgDelete,.delete_Page', function(event) {
    		event.preventDefault();
    		var msgDeleteList = $('.msgDeleteList');
    		msgDeleteList.children('ul').html(A.textTips['load']);

    		/*if ($(this).data('sta')=='del') {

    		};*/


    		A.ajax('/message', {
    			time 	: A.elm('time_delete').val(),
	    		sta 	: 'del',
	    		order 	: A.elm('order_delete').val(),
	    		mark 	: A.elm('mark_delete').val(),
	    		size 	: '10',
	    		p 		: $('.delete_Page').siblings('input').val(),
	    	}, '#tabs-25490', function (dataList) {

	    		if (dataList.data.length>0) {

	    			//渲染回收站的 动态
	    			A.showMessage(dataList, '.msgDeleteList', function(){

		    			msgDeleteList.find('.up').html('赞：不显示');
		    			msgDeleteList.find('.comment').html('评论：不显示');


		    			msgDeleteList.find('.order').html('<a class="btn btn-warning defaultMessage">还原状态 </a> ')
		    			//<a class="btn btn-inverse">完全删除 </a>
		    		})

	    		}else{

	    			msgDeleteList.children('ul').html(A.textTips['nothing']);

	    		}
	    	})
    		/* Act on the event */
    	}).
    	on('click', '.recycleMessage', function(event) {
    		event.preventDefault();
    		//消息放入回收站
			if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.thumbnail').parent('li'),
					thisDom = $(this);
				A.ajax('/recycleMessage', {
					id : parentDom.data('msgid'),
					value : 2,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.attr({
							class: 'span5 status_2',
						});
						thisDom.attr({
							class: 'btn btn-warning defaultMessage',
						}).html('还原状态');
					};
					//console.log(id);
				})

			}

    	}).
    	on('click', '.defaultMessage', function(event) {
    		event.preventDefault();
    		//消息还原显示
    		if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.thumbnail').parent('li'),
					thisDom = $(this);
				A.ajax('/recycleMessage', {
					id : parentDom.data('msgid'),
					value : 1,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.attr({
							class: 'span5 status_1',
						});
						thisDom.attr({
							class: 'btn btn-danger recycleMessage',
						}).html('动态放回收站');
					};
					//console.log(id);
				})

			}

    	}).
    	on('click', '.reComment', function(event) {
    		event.preventDefault();
    		//设置 评论状态 setComment 放回收站
    		if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.commentHTML'),
					thisDom = $(this);
				A.ajax('/setComment', {
					id : parentDom.data('commentid'),
					value : 0,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.addClass('recomment');
						thisDom.attr({
							class: 'btn btn-warning okComment',
						}).html('恢复评论');
					};
					//console.log(id);
				})

			}

    	}).
    	on('click', '.okComment', function(event) {
    		event.preventDefault();
    		//设置 评论状态 恢复评论
    		if(confirm(A.textTips['confirm_msg_re'])) {

				var parentDom = $(this).closest('.commentHTML'),
					thisDom = $(this);
				A.ajax('/setComment', {
					id : parentDom.data('commentid'),
					value : 1,
				},'#tabs-25490', function(dataList){
					console.log(dataList);
					if (dataList.code=='2000') {
						parentDom.removeClass('recomment');
						thisDom.attr({
							class: 'btn reComment',
						}).html('放回收站');
					};
					//console.log(id);
				})

			}
    	}).
    	on('click', '.showMessage,.defaultPage,.nextPage', function(event) {
    		event.preventDefault();
    		// 查看 默认消息 动态
    		if ($(this).hasClass('nextPage')) {
    			var nextPageNum = $(this).data('next');
    			messageAjax ('#tabs-25490', nextPageNum);
    			$(this).data('next', nextPageNum+1)

    		}else{
    			//开始查询 动态 待优化
    			messageAjax ('#tabs-25490',$('.defaultPage').siblings('input').val());
    		}
    		
    	}).
    	on('click', '.upClickShow', function(event) {
    		event.preventDefault();
    		//方案二：  点击加载 赞
    		var thisCaption = $(this).closest('.caption'),
    			thisMsgID = $(this).closest('.thumbnail').parent('li').data('msgid');

			thisCaption.find('ul').html('加载中……');
//载入 赞
			A.ajax('/oneup', {
				msgid 	: thisMsgID,
			}, thisCaption, function(data){
				//console.log(data);
				var u = data.data,
					uLength = u.length,
					upStr = '';

				for (var i = 0; i < uLength; i++) {
					var msg_id = u[i].msg_id,
					    id = u[i].id,
					    user_id = u[i].user_id,
					    ctime = u[i].ctime,
					    nickname = u[i].nickname,
					    sex = u[i].sex,
					    avatar = u[i].avatar,
					    status = u[i].status,
					    mobile = u[i].mobile,
					    level = u[i].level;

					upStr += '<li data-id="'+id+'" data-mobile="'+mobile+'" data-level="'+level+'" class="status_'+status+'"> <a href="/soso?userid='+user_id+'&tab=userzone" class="upUser sex_'+sex+'" data-uid="'+user_id+'" title="'+nickname+'('+A.sex[sex]+')发表于'+A.js_date_time(ctime)+'"> <img src="http://m.xiaojiaoyar.com/Uploads/Picture/'+avatar+'" height="25px" alt="" /> </a></li>';
					
				};
				thisCaption.find('ul').html(upStr);
			})


    	}).
    	on('click', '.commentClickShow', function(event) {
    		event.preventDefault();
    		//方案二： 点击加载 评论
    		var thisCaption = $(this).closest('.caption'),
    			thisMsgID = $(this).closest('.thumbnail').parent('li').data('msgid');

			thisCaption.find('ul').html('加载中……');

		//载入 回复
			A.ajax('/onecomment', {
				msgid:thisMsgID,
			}, thisCaption, function(mm){
				console.log(mm);
				var om = mm.data,
					omLength = om.length,
					str = '';
				for (var i = 0; i < omLength; i++) {
					var id = om[i].id,
						status = om[i].status,
						msg_id = om[i].msg_id,
						user_id = om[i].user_id,
						user_id_b = om[i].user_id_b,
						message = om[i].message,
						ctime = om[i].ctime,
						is_read = om[i].is_read,
						level = om[i].level,
						mobile = om[i].mobile,
						sex = om[i].sex,
						nickname = om[i].nickname,
						avatar = om[i].avatar;

					if (status==1) {
						var commentCZHtml = '<i class="btn reComment">放回收站</i>'; 
					}else{
						var commentCZHtml = '<i class="btn btn-warning okComment">恢复评论</i>';
					}

					str+= '<li data-commentid="'+id+'" data-userid="'+om[i].user_id+'" data-useridb="'+om[i].user_id_b+'" data-status="'+status+'" class="sex_'+sex+' status_'+status+' level_'+level+' read_'+om[i].is_read+' commentHTML" data-isread="'+is_read+'" data-mobile="'+mobile+'"><a href="/soso?userid='+user_id+'&tab=userzone" target="_blank"><img src="http://m.xiaojiaoyar.com/Uploads/Picture/'+avatar+'" class="avatar" alt="" />'+nickname+'</a>: '+message+'-'+commentCZHtml+'- ('+A.js_date_time(ctime)+')</li>';

				};
				thisCaption.find('ul').html(str);

				//渲染 评论
				

			});

    	}).
    	on('click', '.createfeedtype', function(event) {
    		event.preventDefault();
    		//新增 feedtype
    		var feedtype_value = $('.feedtype_value'),
    			feedtype_name = $('.feedtype_name');

    		if (feedtype_value.val()!=''&&feedtype_name.val()!='') {

    			A.ajax('/createfeedtype', {
    				value : feedtype_value.val(),
    				name : feedtype_name.val(),
    			}, '#tabs-25490', function(dataList){
    				if (dataList.data.protocol41) {
    					alert('增加成功，刷新查看');
    				};
    			})

    		}else{
    			alert('检查输入！');
    		}
    	}).
    	on('click', '.goodtype,.goodMessageType', function(event) {
    		event.preventDefault();
    		//获取 feedtype 获取推荐

    		var thisDom = $(this);

    		if (thisDom.data('sta')=='select') {
    			thisDom.closest('div').html('推荐 <select class="span8 goodMessageType"><option>载入中……</option></select>')
    		};
    		A.ajax('/showfeedtype', {}, '#tabs-25490', function(dataList){

    			var m = dataList.data,
    				mlength = m.length,
    				str= '';

    			if (thisDom.data('sta')=='set') {

    				for (var i = 0; i < mlength; i++) {
	    				var id = m[i].id,
	    					name = m[i].name,
	    					type = m[i].type;
	    				str+='<li data-id="'+id+'"> 名称：<input type="text" value="'+name+'" />；分类数值：<input type="text" value="'+type+'" /> <a class="btn btn-warning upfeedtype">修改</a> <a class="btn btn-danger deletefeed">删除</a> </li>';
	    			};

	    			$('.showfeedtype').html(str)

    			}else{

    				for (var i = 0; i < mlength; i++) {
    					var id = m[i].id,
    						name = m[i].name,
    						type = m[i].type;
    					if (type == 0) {
    						str+=''
    					}else{
    						str +='<option data-id="'+id+'" value="'+type+'">'+name+'</option>';
    					}
    				};
    				$('.goodMessageType').html('<option selected value="all">推荐</option>'+str);

    			}

    			

    		})
    	}).
    	on('click', '.upfeedtype', function(event) {
    		event.preventDefault();
    		//修改 feedtype
    		var thisid = $(this).closest('li').data('id'),
    		    value = $(this).closest('li').children('input').eq(1),
    		    name = $(this).closest('li').children('input').eq(0);


    		A.ajax('/upfeedtype', {
    			id : thisid,
    			value:value.val(),
    			name : name.val(),
    		}, '#tabs-25490', function(dataList){
    			//console.log(dataList);
    			if (dataList.data.changedRows=='1') {
    				console.log('修改成功');
    			};
    		})
    	}).
    	on('click', '.deletefeed', function(event) {
    		event.preventDefault();
    		// protocol41 删除feedtype

    		var thisDom = $(this);
    		A.ajax('/deletefeedtype', {
    			id : thisDom.closest('li').data('id'),
    		}, '#tabs-25490', function(dataList){

    			if (dataList.data.protocol41) {
    				alert('删除成功，刷新查看');
    				thisDom.closest('li').remove();
    			};

    		})
    	}).
    	on('click', '.upMessage', function(event) {
    		event.preventDefault();
    		//赞－ 管理员可以用 马甲号 随机赞
    		var thisDom = $(this);
    		A.ajax('/randommj', {}, thisDom.closest('.thumbnail'), function(dataList){

    			var insertHtml = '<b data-uid="'+dataList.data.user_id+'">随机获得马甲号：'+dataList.data.nickname+'；</b><a class="btn btn-scuess insertUp">确认赞</a>';
    			//console.log(insertHtml);
    			thisDom.siblings('i').html(insertHtml);
    		})

    	}).
    	on('click', '.commentMessage', function(event) {
    		event.preventDefault();
    		//评论－ 管理员可以用马甲号随机评论
    		var thisDom = $(this);
    		A.ajax('/randommj', {}, thisDom.closest('.thumbnail'), function(dataList){
    			var insertHtml = '<b data-uid="'+dataList.data.user_id+'">随机获得马甲号：'+dataList.data.nickname+'；</b><input type="text" placeholder="请输入评论"><a class="btn btn-scuess insertMessage">确认</a>';
    			thisDom.siblings('i').html(insertHtml);
    			//$(insertHtml).insertAfter(thisDom);

    		})

    	}).
    	on('click', '.insertMessage', function(event) {
    		event.preventDefault();
    		//确认提交 随机评论
    		var thisDom = $(this),
    		    thisMessage = thisDom.siblings('input'),
    		    thisUid = thisDom.siblings('b').data('uid'),
    		    thisMsgID = thisDom.closest('li').data('msgid'),
    		    thisUidB = thisDom.closest('li').data('userid');

    		if (thisMessage.val()) {

    			A.ajax('/createcomment', {
	    			uid 	: thisUid,
	    			uidb 	: thisUidB,
	    			message : thisMessage.val(),
	    			msgid 	: thisMsgID,
	    		}, thisDom.closest('.thumbnail'), function(dataList){

	    			if (dataList.data.protocol41) {
	    				thisDom.closest('i').html('成功，马甲评论请刷新页面后查看');
	    			};

	    		})

    		}else{
    			alert('请检查输入')
    		}
    		
    	}).
    	on('click', '.insertUp', function(event) {
    		event.preventDefault();
    		//确认提交 赞 
    		var thisDom = $(this),
    			thisUid = thisDom.siblings('b').data('uid'),
    			thisMsgID = thisDom.closest('li').data('msgid');

    		A.ajax('/createup', {
    			uid 	: thisUid,
    			msgid 	: thisMsgID,
    		}, thisDom.closest('.thumbnail'), function(dataList){

    			if (dataList.data.protocol41) {
    				thisDom.closest('i').html('成功，马甲赞，请刷新页面后查看');
    			};
    		})
    	})

    	


    	//默认获取的动态消息
    	function messageAjax (elm, n) {
    		messageList.children('ul').html(A.textTips['load']);
    		//载入消息
    		A.ajax('/message', {
	    		time 	: time.val(),
	    		sta 	: 'show',
	    		order 	: order.val(),
	    		mark 	: mark.val(),
	    		size 	: '10',
	    		p 		: n,
	    	}, elm, function (dataList) {

	    		if (dataList.data.length=='0'){
	    			messageList.children('ul').html(A.textTips['nothing'])
	    		}else{

	    			//渲染 消息
		    		A.showMessageAjax(dataList, '.messageList');

	    		}
	    		
	    	})
    	}
    	messageAjax ('#tabs-25490', 1);

    	
    	

    })
    
}


</script>
