<% include header.html %>

	<% if (result!='') { %>  

<link rel="stylesheet" type="text/css" href="stylesheets/datatables.min.css">

<div class="container-fluid">

    <div class="row-fluid">
		<div class="span12">
			<% include nav.html %>
			
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12 paster_select">
			<div class="span3">
				类型
				<select class="span8 pastertype">
					<option selected value="all">全部</option>
			        <option value="del">已删除</option>
			        <option value="ready">在用的</option>
			        

			    </select>
			</div>
			<div class="span3">
				<a class="btn btn-success lookPaster">这样查看</a>
			</div>
			<div class="span3"></div>
			<div class="span3">
				<a class="btn btn-warning createPaster">新增贴纸</a>
				
			</div>

		</div>
		<div class="pasterInfoTable-fa">
			
		</div>
	</div>

</div>
<% } else{%>
<section>
<div class="well">
	<p>登录失败……</p>
	<a class='btn btn-primary' href="/">重新登陆</a>
</div>
</section>
<%}%>



<footer class="container-fluid">
    <section class="row-fluid">

    </section>
</footer>

<% include footer.html %>


<script>

window.onload=function(){

	seajs.config({
	base: '/javascripts',
	alias: {
		//'boots-jquery':'assets/boots-jquery',
		//'jquery': 'jquery/jquery/1.10.1/jquery',
		//'bootstrap':'bootstrap/bootstrap/2.3.2/bootstrap',
        //"zepto":  "jquery/zepto/1.1.6/zepto",
        //'datatables' : 'jquery/datatable/1.10.4/jquery.dataTables.js',
        "all": "share/all/2.0.0/all",
        'verify':'share/verify/1.0.0/verify',
        //'e_zetpo':'share/extend/1.0.0/extendzepto',
	  }
	})
	
    seajs.use([ 'all', 'verify'], function(A,V){

    	var pastertypeArr = [],
    		pasterHtml = '',
    	    pasterInfoTableFa = $('.pasterInfoTable-fa');
    	
    	var pastertype = $('.pastertype'),
    		paster_select = $('.paster_select');

    	A.ajax('/pastertype', {

    	}, '.paster_select', function(dataList){
    		var s = dataList.data,
    			sLength = s.length,
    			str = '';

    		for (var i = 0; i < sLength; i++) {
    			var id = s[i].id,
    				typename = s[i].typename;
					
    			str += '<option value="type" data-id="'+id+'">'+typename+'</option>';
    			optionStr += '<option value="'+id+'">'+typename+'</option>';
    			pastertypeArr.push(typename);
    			
    		};
    		pastertype.append(str);
    		pasterHtml = '<select>'+optionStr+'</select>'
    		

    		//渲染 具体贴纸信息

    	})

    	paster_select.on('click', '.lookPaster', function(event) {
    		pasterInfoTableFa.html('<table id="pasterInfoTable">正在载入……</table>');
    		event.preventDefault();
    		var doc = {
    			sta : pastertype.val(),
    			order : 'time',
    			p : '1',
    			size : '10000',
    			value : '1'
    		}
    		//
    		if (pastertype.val()=='type') {
    			doc['value'] = pastertype.find("option:selected").data('id');
    		}

    		A.ajax('/pasterinfo', doc, '.paster_select', function(dataList){

    			pasterInfoTableFa.html('<table id="pasterInfoTable"></table>');

    			var u = dataList.data.list,
    			    ulength = dataList.data.len,
    			    str = '',
    			    data_tableArr = [];

    			    //console.log(ulength);
    			    //console.log(pastertypeArr);

    			for (var i = 0; i < ulength; i++) {

    				var status = u[i].status,
    					imgUrl = u[i].url.split('Picture')[0],
    					type_id = u[i].type_id-1;
    				var caozuoDom = '<a class="pasterPrev btn">上移</a> &nbsp; <a data-status="'+status+'" class="btn del_return btn-danger">放回收站</a> &nbsp; <a class="btn btn-info setPaster">修改贴纸</a> &nbsp; <a class="btn pasterNext">下移</a>';
    				if (status==1) {
    					caozuoDom = '<a class="pasterPrev btn">上移</a> &nbsp; <a data-status="'+status+'" class="btn del_return btn-danger">放回收站</a> &nbsp; <a class="btn btn-info setPaster">修改贴纸</a> &nbsp; <a class="btn pasterNext">下移</a>';
    				};
    				if (status==0||status==2) {
    					caozuoDom = '<a class="pasterPrev btn">上移</a> &nbsp; <a data-status="'+status+'" class="btn del_return btn-warning">恢复贴纸</a> &nbsp; <a class="btn btn-info setPaster">修改贴纸</a> &nbsp; <a class="btn pasterNext">下移</a>';
    				};

    				var selectType = '<select class="ajaxType pasterSelect"><option value="'+(type_id+1)+'">'+pastertypeArr[type_id]+'</option></select>';
    				//$(pasterHtml).children('option:')

    				var new_data = {
    					xuhao 		: i+1,
    					pasterID 	: u[i].id,
    					fenlei  	: '<p data-typeid="'+(type_id+1)+'">'+selectType+'</p>',
    					description : '<input class="pasterdesc" type="text" value="'+u[i].description+'">',
    					pic 		: '<a data-order="'+u[i].order_sort+'" title="点击查看大图" href="'+A.textTips['webhost']+imgUrl+'" target="_blank"><img class="avatar" src="'+A.textTips['webhost']+imgUrl+'" alt="" /></a>',
    					ctime 		: u[i].ctime,//A.js_date_time(u[i].ctime),
    					caozuo 		: caozuoDom,
    					caozuoren   : u[i].examine_admin,
    					caozuotime  : A.js_date_time(u[i].examine_time),
    				}
					data_tableArr.push(new_data);

    				//str += '';
    			};


				var columnArr = [
				    { data : 'xuhao'},
					{ data : 'pic'},
				    { data : 'pasterID'},
				    { data : 'fenlei'},
				    { data : 'description'},
				    { data : 'ctime'},
				    { data : 'caozuo'},
				    { data : 'caozuoren'},
				    { data : 'caozuotime'},
				];

				/*console.log(data_tableArr);

				console.log(A.install_TB);*/
				A.install_TB('pasterInfoTable', data_tableArr, columnArr, '<thead><tr><th width="20">序号</th><th width="30">贴纸预览</th><th width="20">贴纸id</th><th width="60">分类</th><th width="60">描述</th><th width="30">创建时间</th><th width="230">操作</th><th width="30">曾操作人</th><th width="30">操作时间</th></tr></thead><tbody></tbody>');



    		})

    	}).
		on('click', '.createPaster', function(event) {
			event.preventDefault();
			//创建贴纸
			alert('未开发');
		})
		/*$('body').on('click', '.setPaster', function(event) {
			event.preventDefault();
			// 修改 贴纸 
			var thisDom = $(this);
			    thisSta = thisDom.data('status'),
			    thisType = thisDom.closest('tr').children('td').eq(3).children('p').data('typeid'),
			    thisUrl = thisDom.closest('tr').children('td').eq(1).children('a').attr('href').split('.com/')[1],
			    thisDesc = thisDom.closest('tr').children('td').eq(4).text()
			    thisID = thisDom.closest('tr').children('td').eq(2).text();


			A.ajax('/uppaster', {
				typeid  : thisType,
				url 	: thisUrl,
				id 		: thisID,
				desc    : thisDesc,
				sta 	: 0,
			}, '.paster_select', function(dataList){
				if (dataList.data.protocol41) {
					console.log('del')
					thisDom.text('恢复贴纸');
					thisDom.attr('class', 'btn setPaster btn-warning');
					thisDom.data('status', '0')
				};
			})

			
			//console.log(thisType);
			

		});*/
		//贴纸 放到回收站 或 恢复
		$('body').on('click', '.del_return', function(){
			var thisDom = $(this);
			    thisSta = thisDom.data('status'),
			    thisID = thisDom.closest('tr').children('td').eq(2).text();

			if (thisSta==1) {

				A.ajax('/delpaster', {
					id : thisID,
					value : 0,
				}, '.paster_select', function(dataList){
					if (dataList.data.protocol41) {
						console.log('del')
						thisDom.text('恢复贴纸');
						thisDom.attr('class', 'btn del_return btn-warning');
						thisDom.data('status', '0')
					};

				})

			}else{

				A.ajax('/delpaster', {
					id : thisID,
					value : 1,
				}, '.paster_select', function(dataList){
					if (dataList.data.protocol41) {
						console.log('return')
						thisDom.text('放回收站');
						thisDom.attr('class', 'btn del_return btn-danger');
						thisDom.data('status', '1')
					};

				})

			}

		})/*.
		on('click', '.ajaxType', function(event) {
			event.preventDefault();
			// 当需要修改贴纸分类时 渲染缓存中的 type
			var plength = pastertypeArr.length,
				str = '';

			if ($(this).children('option').length>1) {

			}else{

				console.log(pastertypeArr);
				for (var i = 0; i < plength; i++) {
					if ($(this).val()==i) {
						str+='';
					}else{
						str += '<option value="'+i+'">'+pastertypeArr[i]+'</option>';
					}
				};
				$(this).append(str);
			}
			
		});*/


    	/*function renderPaster(){
    		A.ajax('/')
    	}*/


    })


}
</script>



