<% include header.html %>

<section class="row-fluid" id='mainNav'>
    <nav>
        <ul>
            <li><a href="/financing">最新融资</a></li>
            <li class='current-li'><a href="/soso">搜搜</a></li>
            <li><a href="/activity">活动</a></li>
        </ul>
    </nav>
</section>

<header class="container-fluid">
	
	
    <section class="row-fluid search">
		
		<div class="sosoform">
			<input type="text" placeholder="寻找你要的项目">
		</div>
		
    </section>
    <section class="row-fluid company">
		
		<div class="information">
			<ul>
				<li></li>
			</ul>
		</div>
		
    </section>
	
</header>


<footer class="container-fluid">
    <section class="row-fluid">

    </section>
</footer>

<% include footer.html %>